@inherits LayoutComponentBase
@inject IAccountService AccountService
@inject NavigationManager NavigationManager
@inject UserState UserState

<nav>
    <User/>
    <NavLink href="/requests">Requests</NavLink>
</nav>

<main>
    @Body
</main>

@code{

    protected override async Task OnInitializedAsync()
    {
        AccountService.LoginChange += (name, role) =>
        {
            UserState.SetUser(name, role);

            Console.Out.WriteLine($"UserName={UserState.UserName}, Role={UserState.Role}");

            StateHasChanged();
        };
    }
}