@inherits LayoutComponentBase
@inject IAccountService AccountService
@inject NavigationManager NavigationManager
@inject UserState UserState

<span>User is @UserState.UserName</span>

<nav>
    <User></User>
    @* <NavLink href="/login">Login</NavLink> *@
    <NavLink href="/requests">Requests</NavLink>
</nav>

<main>
    @Body
</main>

@code{

    protected override void OnInitialized()
    {
        AccountService.LoginChange += (name, role) =>
        {
            UserState.SetUser(name, role);

            StateHasChanged();
        };
    }
}