@inherits LayoutComponentBase
@inject IAccountService AccountService
@inject UserState UserState;

<nav>
    <User/>
    <NavLink href="/requests">Requests</NavLink>
</nav>

<main>
    @Body
</main>

@code{

    protected override async Task OnInitializedAsync()
    {
        var jwt = await AccountService.GetJwt();

        if (!string.IsNullOrEmpty(jwt))
        {
            var token = new JwtSecurityTokenHandler().ReadJwtToken(jwt);
            var expired = token.ValidTo >= DateTime.Now;

            if (expired)
            {
                var name = AccountService.GetUserName(jwt);
                var role = AccountService.GetRole(jwt);

                UserState.SetUser(name, role);
            }
        }

        AccountService.LoginChange += (name, role) =>
        {
            UserState.SetUser(name, role);

            StateHasChanged();
        };

        await base.OnInitializedAsync();
    }
}