@inherits LayoutComponentBase
@inject IAccountService AccountService
@inject NavigationManager NavigationManager
@inject UserState UserState
@inject ComponentService ComponentService

@header

<nav>
    <User></User>
    <NavLink href="/requests">Requests</NavLink>
</nav>

<main>
    @Body
</main>

@code{
    private string header;

    protected override void OnInitialized()
    {
        AccountService.LoginChange += (name, role) =>
        {
            UserState.SetUser(name, role);

            StateHasChanged();
        };
    }

    protected override async Task OnInitializedAsync()
    {

        try
        {
            header = await ComponentService.Get("Index Page Title");
            Console.WriteLine($"Loaded title: {header}");
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Error loading component: {ex.Message}");
        }
    }
}