@inject IAccountService AccountService

@if (isLoggedIn)
{
    <span>
        Hello @UserName!
        <a @onclick="Logout">Logout</a>
    </span>
}
else
{
    <NavLink href="login">Login</NavLink>
}

@code {

    [Parameter]
    public string? UserName { get; set; }

    [Parameter]
    public EventCallback Logout { get; set; }

    private bool isLoggedIn => UserName is not null;
}
