@using MyApplicationServiceLayer.Authenticate.Login.Models
@inject IAccountService AccountService

@if (isLoggedIn)
{
    <span>
        Hello @userName!
        <a @onclick="Logout">Logout</a>
    </span>
}
else
{
    if (isVisible)
    {
        <NavLink href="login" @onclick="ToggleVisibility">Login</NavLink>
    }
}

@code {

    private string? userName;
    private bool isLoggedIn => userName is not null;
    private bool isVisible = true;

    protected override void OnInitialized()
    {
        base.OnInitialized();

        AccountService.LoginChange += (name, role) =>
        {
            userName = name;

            StateHasChanged();
        };
    }

    private async Task Logout()
    {
        await AccountService.Logout();

        isVisible = true;
    }

    private void ToggleVisibility()
    {
        isVisible = false;
    }
}
