@inject IAccountService AccountService
@inject NavigationManager NavigationManager
@inject UserState UserState

@if (UserState.UserName is not null)
{
    <span>
        Hello @UserState.UserName
        <a @onclick="Logout">Logout</a>
    </span>
}
else
{
    <NavLink href="login">Login</NavLink>
}

@code {
    protected override void OnInitialized()
    {
        UserState.UserChange += StateHasChanged;
    }

    private async Task Logout()
    {
        await AccountService.Logout();

        NavigationManager.NavigateTo("/");
    }
}
