@inject UserState UserState
@inject IAccountService AccountService

@if (UserState.IsLoggedIn)
{
    <span>
        Hello @UserState.UserName!
        <a @onclick="Logout">Logout</a>
    </span>
}
else
{
    <NavLink href="login">Login</NavLink>
}

@code {

    private async Task Logout()
    {
        await AccountService.Logout();
    }
}
