@inject UserState UserState
@inject IAccountService AccountService
@inject NavigationManager NavigationManager

@if (IsLoggedIn)
{
    <span>
        Hello @UserState.UserName
        <a @onclick="Logout">Logout</a>
    </span>
}
else
{
    <NavLink href="login">Login</NavLink>
}

@code {
    private bool IsLoggedIn;

    protected override void OnInitialized()
    {
        IsLoggedIn = UserState.UserName is not null;
    }

    private async Task Logout()
    {
        await AccountService.Logout();

        NavigationManager.NavigateTo("/");
    }
}
