@page "/login"
@using MyApplicationServiceLayer.Authenticate.Login.Models;
@inject IAccountService AccountService;
@inject NavigationManager NavManager;

<EditForm Model="@model" OnValidSubmit="Submit">
    <div>
        <label>Username:</label>
        <InputText @bind-Value="@model.UserName" requried/>
    </div>
    <div>
        <label>Password:</label>
        <InputText type="password" @bind-Value="@model.Password" required></InputText>
    </div>
    <div>
        <button type="submit">Login</button>
    </div>
</EditForm>

@if(errorMessage is not null)
{
    <span>
        @errorMessage
    </span>
}

@code {
    private LoginModel model = new LoginModel();
    string? errorMessage;

    private async Task Submit()
    {
        try
        {
            await AccountService.Login(model);

            NavManager.NavigateTo("/");
        }
        catch(Exception ex)
        {
            errorMessage = ex.Message;
        }
    }

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        var jwt = await AccountService.GetJwt();
    }
}
