@page "/requests"
@inject IRequestService RequestService
@inject UserState UserState
@inject NavigationManager NavManager


<table>
    <thead>
        <tr>
            <th>Text</th>
            <th>Status</th>
            <th>Date</th>
            <th>Name</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var request in ListRequests)
        {
            <tr>
                <td>@request.Text</td>
                <td>@request.Status</td>
                <td>@request.Date</td>
                <td>@request.UserName</td>
            </tr>
        }
    </tbody>
</table>

@code {
    public IEnumerable<RequestModel> ListRequests { get; private set; } = Enumerable.Empty<RequestModel>();

    protected override async Task OnInitializedAsync()
    {
        ListRequests = await RequestService.GetAll();

        await base.OnInitializedAsync();
    }
}
